.hide {
    display: none !important;
}

body {
    background-color: white !important;
    padding-top: 120px;
}

h3 {
    font-size: 30px !important;
}

h2 {
    font-size: 25px !important;
}

a:hover{
    color:  #292929;
    text-decoration: none;
}


#bottomMenu {
    font-family: 'Lato';
    font-weight: 400;
/*    font-size: 30px !important;*/
}

.sub-menu .menu-item{
    margin: 5px;
}

.menu-item a:hover{
    color:  #292929;
    text-decoration: none;
}


.dm_sponsors{
    border-right: 1px solid lightgray;
}

.dm_sponsors a img{
    margin: 15px;
}
    

.sponsor-fb{
    margin: auto 0;
text-align: center;
display: block;
margin-top: 120px;
}

.dm_sponsors h2{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px !important;
}




.breadcrumbs_new{
    text-align: center;
    display: inline-block;
    position: relative;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    margin: 30px 0 50px 0;
}

.breadcrumbs_new:after {
		content: '' !important;
		position: absolute !important;
        margin-top: 35px;
		width: 100%; !important;
		left: 0% !important; 
        bottom: -5px;
		border-bottom: 1px solid #dedede !important;
	}




.breadcrumbs_new a{
    text-decoration: none;
    color:inherit;
    -webkit-transition: font-size 0.4s ease-in-out;
    -moz-transition: font-size 0.4s ease-in-out;
    transition: font-size 0.4s ease-in-out
}

.breadcrumbs_new a:hover{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
/*
#carousel-example-generic{
    margin-bottom: 30px;
    padding-bottom: 80px;
    border-bottom: 1px solid lightgray;
    
}
*/

a.carousel-control:hover{
    color: #fff;
/*    background: transparent;*/
}

.dropdown-menu {
    left: auto !important;
    right: -25% !important;
}
.dropdown-menu:after {
   left: auto !important;
   right: 45% !important;
}


.shadow-bottom {
 box-shadow:    0px 5px 18px -3px rgba(50, 50, 50, 0.26);
    
/* transition: box-shadow 1s;*/
}

.navbar {
    background-color: white !important;
    
    box-shadow: 0;
    -webkit-transition: box-shadow 1s ease-in-out;
    -moz-transition: box-shadow 1s ease-in-out;
    transition: box-shadow 1s ease-in-out
/*    transition: box-shadow 1s ease-in-out;*/
}
